<template name="education">
    <ul class="timeline">
        <li>
            <div class="timeline-badge primary"><a><div class="circle" rel="tooltip" title="11 hours ago via Twitter" id=""></div></a></div>
            <div class="timeline-panel">


                <div class="timeline-body">
                    <h4>MSc Information Management</h4>
                    <h5>Tilburg University | Aug 15 - </h5>
                    <p>Een champignonbedrijf bestaat uit verschillende 'teeltcellen'. In elke teeltcel staan 2 'stellingen' die elk uit 5 boven elkaar gestapelde bakken bestaan. De bakken hebben een standaardbreedte van 1.34 m en een variabele lengte. Onze kwekerij bestaat uit 4 cellen van elk 200 m2  teeltoppervlakte. De teeltcellen zijn met elkaar verbonden door een werkgang.  Elke teeltcel bevindt zich in een ander stadium van het teeltproces. Op deze manier verzekeren we jullie elke dag in verse champignons te voorzien. In onze werkgang staan verschillende apparatuur om de teelt zo goed mogelijk te laten verlopen.</p>
                </div>


            </div>
        </li>
        <li>
            <div class="timeline-badge primary"><a><div class="circle" rel="tooltip" title="11 hours ago via Twitter" id=""></div></a></div>
            <div class="timeline-panel">


                <div class="timeline-body">
                    <h4>FOUNDER</h4>
                    <h5>EArrly.com | Oct 15 - </h5>
                    <p>Een champignonbedrijf bestaat uit verschillende 'teeltcellen'. In elke teeltcel staan 2 'stellingen' die elk uit 5 boven elkaar gestapelde bakken bestaan. De bakken hebben een standaardbreedte van 1.34 m en een variabele lengte. Onze kwekerij bestaat uit 4 cellen van elk 200 m2  teeltoppervlakte. De teeltcellen zijn met elkaar verbonden door een werkgang.  Elke teeltcel bevindt zich in een ander stadium van het teeltproces. Op deze manier verzekeren we jullie elke dag in verse champignons te voorzien. In onze werkgang staan verschillende apparatuur om de teelt zo goed mogelijk te laten verlopen.</p>
                </div>


            </div>
        </li>
        <li>
            <div class="timeline-badge primary"><a><div class="circle" rel="tooltip" title="11 hours ago via Twitter" id=""></div></a></div>
            <div class="timeline-panel">


                <div class="timeline-body">
                    <h4>FOUNDER</h4>
                    <h5>EArrly.com | Oct 15 - </h5>
                    <p>Een champignonbedrijf bestaat uit verschillende 'teeltcellen'. In elke teeltcel staan 2 'stellingen' die elk uit 5 boven elkaar gestapelde bakken bestaan. De bakken hebben een standaardbreedte van 1.34 m en een variabele lengte. Onze kwekerij bestaat uit 4 cellen van elk 200 m2  teeltoppervlakte. De teeltcellen zijn met elkaar verbonden door een werkgang.  Elke teeltcel bevindt zich in een ander stadium van het teeltproces. Op deze manier verzekeren we jullie elke dag in verse champignons te voorzien. In onze werkgang staan verschillende apparatuur om de teelt zo goed mogelijk te laten verlopen.</p>
                </div>


            </div>
        </li>
        <li class="clearfix" style="float: none;"></li>
    </ul>
</template>