@font-face {
  font-family: "MontRgl";
  src: url("fonts/montserrat/MontRgl.eot");
  src: url("fonts/montserrat/MontRgl.eot?#iefix") format("embedded-opentype"),
       url("fonts/montserrat/MontRgl.svg") format("svg"),
       url("fonts/montserrat/MontRgl.woff") format("woff"),
       url("fonts/montserrat/MontRgl.woff2") format("woff2"),
       url("fonts/montserrat/MontRgl.ttf") format("truetype");
}

@font-face {
  font-family: "MontBld";
  src: url("fonts/montserrat/MontBld.eot");
  src: url("fonts/montserrat/MontBld.eot?#iefix") format("embedded-opentype"),
       url("fonts/montserrat/MontBld.svg") format("svg"),
       url("fonts/montserrat/MontBld.woff") format("woff"),
       url("fonts/montserrat/MontBld.woff2") format("woff2"),
       url("fonts/montserrat/MontBld.ttf") format("truetype");
}

@font-face {
  font-family: "MontLt";
  src: url("fonts/montserrat/MontLt.eot");
  src: url("fonts/montserrat/MontLt.eot?#iefix") format("embedded-opentype"),
       url("fonts/montserrat/MontLt.svg") format("svg"),
       url("fonts/montserrat/MontLt.woff") format("woff"),
       url("fonts/montserrat/MontLt.woff2") format("woff2"),
       url("fonts/montserrat/MontLt.ttf") format("truetype");
}
