<template name="awards">
    <ul>
        <li>
          <span class="flaticon-trophy big"></span>
          <div class="award-content">
            <h4>EUROPEAN VIRTUAL STARTUP ACCELERATOR EU-XCEL</h4>
            <h5>Tilburg University | Aug 15 - </h5>
            <p>Member of the team TAMAZE.com. Preceeded by 4-month virtual acceleration phase and a Scrum-week in Munich, Germany .</p>
          </div>
        </li>
        <li>
          <span class="flaticon-trophy big"></span>
          <div class="award-content">
            <h4>EUROPEAN VIRTUAL STARTUP ACCELERATOR EU-XCEL</h4>
            <h5>Tilburg University | Aug 15 - </h5>
            <p>Member of the team TAMAZE.com. Preceeded by 4-month virtual acceleration phase and a Scrum-week in Munich, Germany .</p>
          </div>
        </li>
    </ul>
</template>
