<template name="certificates">
  <ul>
      <li>
        <span class="flaticon-file big"></span>
        <div class="certificate-content">
          <h4>EUROPEAN VIRTUAL STARTUP ACCELERATOR EU-XCEL</h4>
          <h5>Tilburg University | Aug 15 - </h5>
        </div>
      </li>
      <li>
        <span class="flaticon-file big"></span>
        <div class="certificate-content">
          <h4>EUROPEAN VIRTUAL STARTUP ACCELERATOR EU-XCEL</h4>
          <h5>Tilburg University | Aug 15 - </h5>
        </div>
      </li>
  </ul>
</template>
