<template name="hobbies">
  <div class="col-xs-15">
    <figure>
      <span class="flaticon-tennis-raquet big"></span>
      <figcaption>Tennis</figcaption>
    </figure>
  </div>
  <div class="col-xs-15">
    <figure>
      <span class="flaticon-basketball big"></span>
      <figcaption>Basketball</figcaption>
    </figure>
  </div>
  <div class="col-xs-15">
    <figure>
      <span class="flaticon-guitar big"></span>
      <figcaption>Guitar</figcaption>
    </figure>
  </div>
  <div class="col-xs-15">
    <figure>
      <span class="flaticon-couisine big"></span>
      <figcaption>Cousine</figcaption>
    </figure>
  </div>
  <div class="col-xs-15">
    <figure>
      <span class="flaticon-basketball big"></span>
      <figcaption>Basketball</figcaption>
    </figure>
  </div>
</template>
