<template name="languages">
    <div class="col-xs-3" id="language-1">
        {{#with circularOptions}}
            {{> circularProgress}}
        {{/with}}
    </div>
    <div class="col-xs-3" id="language-2">
        {{#with circularOptionss}}
            {{> circularProgress}}
        {{/with}}
    </div>
    <div class="col-xs-3" id="language-3">
        {{#with circularOptionsss}}
            {{> circularProgress}}
        {{/with}}
    </div>
    <div class="col-xs-3" id="language-4">
        {{#with circularOptionssss}}
            {{> circularProgress}}
        {{/with}}
    </div>
</template>
