/*** GENERAL ****/

html, body {
  margin: 0;
  padding: 0;
  font-family: "montserratlight";
}

a, a:visited, a:active {
  font-family: "montserratregular";
  color: #eb4b52;
}

a:hover {
  color: #c53f44;
  text-decoration: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'montserratbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
  letter-spacing: 1px;
  font-weight: 500;
}

header .push-down {
  margin: 2em 0 0 0;
}

.table > tbody > tr > td {
  line-height: normal;
  vertical-align: inherit;
  border-top: 0;
}

td {
  padding: 0.4em 0.5em;
}

tr:first-child>td {
  margin-top: 0;
  padding-top: 0;
}

.contact {
  position: relative;
  left: -4px;
}

.contact td:first-child {
  text-transform: uppercase;
  float: right;
  font-family: 'montserratsemi_bold';
  font-size: 0.8em;
  vertical-align: text-bottom;
  margin-top: 0.28em;
}

.social {
  position: relative;
  left: 11px;
}

.social td:first-child {
  float: right;
  font-size: 1.5em;
}

.social td {
  vertical-align: middle;
  padding: 0.1em 0.375em;
}

h3 {
  margin-bottom: 1em;
}

*[class^='flaticon-'].big {
  color: #eb4b52;
}

*[class^='flaticon-'].big:before {
  font-size: 3.5em;
  margin-left: 0;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

figure, figure figcaption {
  text-align: center;
}

figure span[class^="flaticon-"], figure span[class*=" flaticon-"] {
  vertical-align: top;
  display: inline-block;
  float: none;
  padding-right: 0
}


footer {
  text-align: center;
  color: #aaa;
  font-size: 0.8em;
  margin-bottom: 20px;
}

/* MASONRY CSS - taken from http://www.bootply.com/85737 */

*, *:before, *:after {box-sizing:  border-box !important;}

.content.row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;

}

.menu-category {
  display: inline-block;
  margin: 0.25em;
  padding: 1em;
  width:  100%;
}

/* hello-bar */

.hello-bar {
  background-color: #eb4b52;
  padding: 10px 0;
}

.hello-bar .btn-inverse {
  background-color: #eb4b52;
  color: #fff;
  border: 1px solid #fff;
}

/* top-wrapper */

.top-wrapper > svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 25em;
  width: 100%;
  z-index: -1;
}

.top-wrapper > svg pattern polygon {
  stroke: #ddd;
  fill: #fff;
}

/* Header */

.main-lead {
  color: #eb4b52;
  margin: 0;
  letter-spacing: normal;
}

.sub-lead {
  font-family: 'montserratlight';
  letter-spacing: 0.2em;
  color: #6b6d70;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9em
}

.avatar {
  margin: 0;
  width: 6em;
}

/* Skills */
#skills .list-group-item {
  border: 0;
  padding: 0.4em 0.5em 0.4em 0;
  background-color: transparent;
}

#skills .list-group-item .skill-caption {
  padding: 0;
}

/* Common Awards & Certifications section */

#awards [class^="flaticon-"], #awards [class*=" flaticon-"],
#certifications [class^="flaticon-"], #certifications [class*=" flaticon-"] {
  display: block;
  text-align: center;
}

#awards ul, #certifications ul {
  list-style: none;
  padding: 0;
}
#awards li, #certifications li {
  padding-bottom: 1em;
}
#awards .award-content, #certifications .certificate-content {
  margin: 0 30px;
}
#awards h4, #certifications h4 {
  text-align: center;
  margin-bottom: 20px;
}

/* Common Skills & Languages */

.progress {
  background: transparent;
  border: 1px solid #aaaaaa;
  border-radius: 0px;
  height: 13px;
  margin-top: 3px;
  -webkit-box-shadow: inset 0 0px 0px;
  box-shadow: inset 0 0px 0px;
  padding: 0;
}

.progress-bar-custom {
  background: rgba(66, 139, 202, 0);
  border: 1px solid #eb4b52;
  -webkit-box-shadow: inset 0 0px 0px;
  box-shadow: inset 0 0px 0px;
}

/* Language section */
#languages > [class*=' col-'] {
  padding: 15px;
}

#languages .lang-label-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#languages label[for=lang-bar]{
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6b6d70;
  text-align: center;
  font-size: 1.2em;
}

#languages label[for=lang-bar] > span{
  display: block;
}

/*** Media queries ***/

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }

  .contact, .social {
    position: relative;
    left: 0;
    right: 0;
  }

  /* Skills section */

  .progress {
    margin-left: 15px;
  }

  /* Common - Awards & Certifications */

  #awards [class^="flaticon-"], #awards [class*=" flaticon-"],
  #certifications [class^="flaticon-"], #certifications [class*=" flaticon-"] {
    float: left;
    padding-right: 2.5em;
  }

  #awards li, #certifications li {
    padding-left: 1.3em;
  }

  #awards span, #certifications span {
    float: left;
  }

  #awards .award-content, #certifications .certification-content {
    margin: 0 40px 0 84px;
  }

  #awards h4, #certifications h4 {
    text-align: left;
    margin-bottom: inherit;
  }

  #awards [class^="flaticon-"], #awards [class*=" flaticon-"],
  #certifications [class^="flaticon-"], #certifications [class*=" flaticon-"] {
    position: relative;
    top: -8px;
  }

  /* Language section */
  #languages > [class*=' col-'] {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #languages label[for=lang-bar]{
    font-size: 0.8em;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
      width: 20%;
      float: left;
  }

  .content.row {
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
      width: 20%;
      float: left;
  }

  .content.row {
    -moz-column-width: 36em;
    -webkit-column-width: 36em;
  }

  header {
    margin-bottom: 0.5em;
  }
}
