<template name="content">
    <div class="content menu row">
        <div class="menu-category list-group ">
            <h3>SKILLS</h3>
            <div class="list-group-item">
                <div class="col-xs-6 col-md-5">
                    Prototyping
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-3"></div>
            </div>
            <div class="list-group-item">
                <div class="col-xs-6 col-md-5">
                    Prototyping
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-3"></div>
            </div>
            <div class="list-group-item">
                <div class="col-xs-6 col-md-5">
                    User Experience
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-3"></div>
            </div>
            <div class="list-group-item">
                <div class="col-xs-6 col-md-5">
                    Leadership
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-3"></div>
            </div>
            <div class="list-group-item">
                <div class="col-xs-6 col-md-5">
                    Business
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-3"></div>
            </div>
            <div class="list-group-item">
                <div class="col-xs-6 col-md-5">
                    JavaScript
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-3"></div>
            </div>
        </div>

        <div class="menu-category list-group ">
            <h3>EXPERIENCE</h3>
            {{> experience}}
        </div>

        <div class="menu-category list-group " id="awards">
            <h3>AWARDS</h3>
            {{> awards}}
        </div>

        <div class="menu-category list-group ">
            <h3>EDUCATION</h3>
            {{> education}}
        </div>

        <div class="menu-category list-group">
            <h3>LANGUAGES</h3>
            {{> languages }}
        </div>
        <div class="menu-category list-group" id="certificates">
            <h3>CERTIFICATES</h3>
            {{> certificates }}
        </div>
    </div>
</template>
